<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Добро пожаловать на мой сайт</h1>
        <p>Приветствую всех, кто интересуется информационными технологиями.</p>
      </header>
      <p>Надеюсь, что Вы найдёте для себя интересные и полезные материалы. Для студентов — это лекции по предметам, тесты, дополнительные материалы. Для коллег — разработки мероприятий, уроков, публикации. Для родителей также есть много интересного.</p>
    </div>
    <div class="image object">
      <!--<div id="Fader" class="fader">-->
  <!--<img class="slide" src="/assets/images/korpus1.jpg" alt="первый корпус"/>-->
  <!--<img class="slide" src="/assets/images/g-korpus.jpg" alt="главный корпус"/>-->
    <!--<div class="fader_controls">-->
      <!--<div class="page prev" data-target="prev">&lsaquo;</div>-->
      <!--<div class="page next" data-target="next">&rsaquo;</div>-->
      <!--<ul class="pager_list"></ul>-->
    <!--</div>-->
      <!--</div>-->
      <div id="captioned-gallery">
        <figure class="slider">
          <figure>
            <img src="/assets/images/korpus1.jpg" alt="первый корпус">
            <figcaption>Первый корпус</figcaption>
          </figure>
          <figure>
            <img src="/assets/images/g-korpus.jpg" alt="главный корпус">
            <figcaption>Главный корпус</figcaption>
          </figure>
        </figure>
      </div>
    </div>
  </section>
