<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Добро пожаловать на мой сайт</h1>
        <p>Приветсвую всех, кто интерисуется информационными технологиями</p>
      </header>
      <p>Надеюсь, что Вы найдёте для себя интересные и полезные материалы. Для студентов — это лекции по предметам, тесты, дополнительные материалы. Для коллег — разработки мероприятий, уроков, публикации. Для родителей также есть много интересного.</p>
    </div>
    <span class="image object">
      <img src="assets/images/korpus.jpg" alt="здание техникума" />
    </span>
  </section>
