<head>
	<title>{{ page.title }} Proginfo — Сайт преподавателя Гусева Ивана Евгеньевича </title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
	<link rel="shortcut icon" type="image/png" href="/favicon.png">
	<!--[if lte IE 8]>
	<script src="{{ 'assets/js/ie/html5shiv.js' | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}"/>
	<link rel="stylesheet" href="{{ 'assets/css/featherlight.css' | relative_url }}"/>
	<link rel="stylesheet" href="{{ 'assets/css/featherlight.gallery.css' | relative_url }}"/>
	<!--[if lte IE 9]>
	<link rel="stylesheet" href="{{ 'assets/css/ie9.css' | relative_url }}"/><![endif]--><!--[if lte IE 8]>
	<link rel="stylesheet" href="{{ 'assets/css/ie8.css' | relative_url }}"/><![endif]-->
	<meta name="yandex-verification" content="f1e93a5ad6cf1cc7"/>
</head>
