<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
        <section id="search" class="alt">
          <form action="https://yandex.ru/search/site/" method="get" target="_blank" accept-charset="utf-8"><input
                  type="hidden" name="searchid" value="2294844"/><input type="hidden" name="l10n" value="ru"/><input
                  type="hidden" name="reqenc" value=""/><input type="search" name="text" value="" placeholder="Поиск"/>
          </form>
        </section>

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Меню</h2>
          </header>
          <ul>
            <li><a href="{{ '/' | absolute_url }}">Главная</a></li>
            <li>
              <span class="opener">Портфолио</span>
              <ul>
                <li><a href="{{ '/port/about/' | absolute_url }}">О себе</a></li>
                <li><a href="{{ '/port/pub/' | absolute_url }}">Публикации</a></li>
              </ul>
            </li>
            <li><a href="{{ '/news/' | absolute_url }}">Новости</a></li>
            <li>
              <span class="opener">Студентам</span>
              <ul>
                <li><a href="{{ '/umk/' | absolute_url }}">УМК</a></li>
              </ul>
            </li>
            <li><a href="{{ '/coll/' | absolute_url }}">Коллегам</a></li>
            <li><a href="{{ '/par/' | absolute_url }}">Родителям</a></li>
            <li><a href="{{ '/links/' | absolute_url }}">Полезные ссылки</a></li>
            <li><a href="{{ '/contact/' | absolute_url }}">Контакты</a></li>
          </ul>
        </nav>

      <!-- Section -->
        <section>
          <header class="major">
            
          </header>
          <div class="mini-posts">
            <article>
              <a href="http://mogit.ru/" target="_blank" class="image"><img src="/assets/images/teh.png" alt="Официальный сайт ГБПОУ МО Орехово-Зуевский железнодорожный техникум имени В.И. Бондаренко" /></a>
              <p>Официальный сайт ГБПОУ МО "Орехово-Зуевский железнодорожный техникум имени В.И. Бондаренко"</p>
            </article>
            <article>
              <a href="http://mo.mosreg.ru/" target="_blank" class="image"><img src="/assets/images/mo.png" alt="Сайт Министерства образования Московской области" /></a>
              <p>Сайт Министерства образования Московской области</p>
            </article>
            <article>
              <a href="http://www.ozmo.ru/" target="_blank" class="image"><img src="/assets/images/ozmo.png" alt="Официальный сайт городского округа Орехово-Зуево" /></a>
              <p>Официальный сайт городского округа Орехово-Зуево </p>
            </article>
            <article>
              <a href="http://lvmir.narod.ru/oit/oit00.html" target="_blank" class="image"><img src="/assets/images/old-teh.png" alt="Книга о истории техникума" /></a>
              <p>Книга о истории Ореховского индустриального техникума </p>
            </article>
          </div>
        </section>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Время года</h2>
          </header>
          <p> Весна.</p>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="#">{{ site.email }}</a></li>
            <li class="fa-phone">{{ site.phone }}</li>
            <li class="fa-home">{{ site.street_address }}<br />
            {{ site.city }}, {{ site.state }} {{ site.zip_code }}<br />
            {{ site.country }}</li>
          </ul>
          <ul class="actions">
            <li><a href="#" class="button special icon fa-arrow-circle-up scrollToTop" >Наверх</a></li>
          </ul>
          
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; {{ site.title }} 2014-2017. Автор: Гусев И.Е.</p>
        </footer>

    </div>
  </div>
